.GameBoard {
  border: 1px solid black;
  width: 300px;
  height: 750px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.GameRow {
  display: flex;
  height: 25px;
  width: 300px;
}

.Tetrimino {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

.Tetrimino--active {
  border: 1px solid black;
}

.Tetrimino--red {
  background-color: red;
}

.Tetrimino--green {
  background-color: green;
}

.Tetrimino--blue {
  background-color: blue;
}

.Tetrimino--yellow {
  background-color: yellow;
}

.Tetrimino--orange {
  background-color: orange;
}

.Tetrimino--grey {
  background-color: grey;
}

.Tetrimino--pink {
  background-color: pink;
}